# Dependencies
node_modules/

# Production build
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
venv/

# Editor directories and files
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

__pycache__/